/* Coolors Exported Palette - coolors.co/00ffdd-ffaa00-2f4858-33658a-86bbd8 */

/* HSL */
$color1: hsla(172%, 100%, 50%, 1);
$color2: hsla(40%, 100%, 50%, 1);
$color3: hsla(203%, 30%, 26%, 1);
$color4: hsla(206%, 46%, 37%, 1);
$color5: hsla(201%, 51%, 69%, 1);

/* RGB */
$color1: rgba(0, 255, 221, 1);
$color2: rgba(255, 170, 0, 1);
$color3: rgba(47, 72, 88, 1);
$color4: rgba(51, 101, 138, 1);
$color5: rgba(134, 187, 216, 1);